.goods-cards{   
    font-size: clamp(14px, 1.8vw, 21px);
    position: absolute;
    width: 100%;
    height: 100vh;
    bottom: 0;
    overflow: hidden;
    mask-image: linear-gradient(90deg, transparent, #000 7%, #000 93%, transparent );
    transition: all .5s ease;
    opacity: 0;
    backdrop-filter: blur(10px);
    background: rgba(52, 53, 52, .4);
    z-index: 10;
    &__ps {
        position: fixed;
        top: 50%;
        left: 150%;
        transform: translate(-50%, -50%);
        &__active {
            left: 50%;
            opacity: 1;
        }
    }
    &__food {
        position: fixed;
        top: 50%;
        left: 150%;
        transform: translate(-50%, -50%);
        &__active {
            left: 50%;
            opacity: 1;
        }
    }
    &__pc {
        position: fixed;
        top: 50%;
        left: -50%;
        transform: translate(-50%, -50%);
        &__active {
            left: 50%;
            opacity: 1;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        height: 100%;
        &__pc {
            justify-content: space-around;
        }
    }
    &__img {
        align-self: center;
        max-height: 100%;
        position: relative;
        &__ps {
            width: 40%;
            inset: 80px 0 0 0;
            filter: drop-shadow(0 0 50px #00c2ea)
                    drop-shadow(0 0 200px #00c2ea);
        }
        &__food {
            // flex-basis: 650px;
            width: 50%;
            inset: 20px 0 0 0;
            filter: drop-shadow(0 0 50px #43F505)
                    drop-shadow(0 0 200px #43F505);
        }
        &__pc {
            width: 40%;
            filter: drop-shadow(0 0 50px #931EE2)
                    drop-shadow(0 0 200px #931EE2);
        }
        img {
            width: 100%;
            height: 100%;
            align-self: center;

        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: start;
        padding-top: 40px;
        gap: 50px;
        // flex-basis: 500px;
        width: clamp(500px, 38vw, 560px);
        height: 100%;
        &__items {
            display: flex;
            justify-content: center;
            gap: 25px;
        }
        &__item {
            flex-basis: 320px;
            flex-grow: 1;
            height: 180px;
            display: flex;
            flex-direction: column;
            padding: 4%% 5%;
            align-items: center;
            justify-content: space-around;
            text-wrap: balance;
            background: rgba(217, 217, 217, .15);
            border-radius: 30px;
            position: relative;
            container-type: inline-size;
            &__text {
                text-align: center;
                &::after {
                        content: "";
                        position: absolute;
                        width: 70%;
                        height: 50%;
                        top: -10%;
                        left: 50%;
                        transform: translateX(-50%);
                        border-radius: 50%;
                        filter: blur(20px);
                        opacity: .6;
                        z-index: 3;
                        pointer-events: none;
                        opacity: .25;
                    }
                &__registr {
                    &::after {
                        background: rgb(30, 172, 180);
                    }
                }
                &__price {
                    &::after {
                        background: rgb(177, 120, 34);
                    }
                }
            }
            &__button {
                color: #fff;
                border-radius: 30px;
                padding: 10px 0;
                width: 85%;
                // height: 40%;
                border:none;
                transition: all .3s ease;
                &__registr {
                    background: rgba(30, 172, 180, .8);
                    &:hover {
                        background: #05EDFC;
                        color: #000;
                        filter: drop-shadow(0 0 15px #05EDFC);
                    }
                }
                &__price {
                    background: rgba(177, 120, 34, .8);
                    &:hover {
                        background: #F9990A;
                        color: #000;
                        filter: drop-shadow(0 0 15px #F9990A);
                    }
                }
            }
        }
        &__back {
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-self: center;
            padding: 3px 35px;
            // height: 50px;
            width: 55%;
            color: #fff;
            background: rgb(25, 142, 114);
            border: none;
            border-radius: 30px;
            transition: all .3s ease;
            &:hover {
                background: #0BE1AE;
                color: #000;
                filter: drop-shadow(0 0 15px #0BE1AE);
            }
            &__arrow {
                width: 50px;
                max-height: 100%;
                img{
                    width: 100%;
                    max-height: 100%;
                }
            }
        }
    }
}


@media (max-width:1023px) {
    .goods-cards {
        &__wrapper {
            justify-content: center;
        }
        &__img {
            display: none;
        }
    }
}

@media (any-hover: hover) {
  .goods-cards {
    &__ps {
        &.hover {
            left: 130%;
            opacity: 1;
        }
    }
    &__food {
        &.hover {
            left: 130%;
            opacity: 1;
        }
    }
    &__pc {
        &.hover {
            left: -20%;
            opacity: 1;
        }
    }
  }
}