.goods {
    padding-bottom: 150px;
    position: relative;
    overflow: visible;
    z-index: 2;
    &__items {
        display: flex;
        justify-content: center;
        gap: 7vw;
        padding-top: 100px;
        overflow: visible;
    }
    &__item {
        padding-top: 30px;
        // padding-left: 25px;
        flex-basis: fill;
        min-width: 240px;
        flex-grow: 1;
        height: clamp(280px, 30vw, 420px);
        border-radius: 40px;
        background-color: #2D2D2D;
        position: relative;
        z-index: 0;
        overflow: visible;
        cursor: pointer;
        container-type: inline-size;
        /* Дополнительные стили для красоты */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
        overflow: visible;
        ul {
            padding-top: 4cqh;
            li {
                font-size: clamp(14px, 1.8vw, 26px);
                color: #B3B1B1;
            }
        }
        &-ps {
            ul {
                margin-left: 40cqw;
            }
            &:hover .goods__item__img-1 img {
                filter: drop-shadow(0 0 100px #00c2ea);
            }
        }
        &-food {
            z-index: 1;
            ul {
                margin-left: 30px;
            }
            &:hover .goods__item__img-2 img {
                filter: drop-shadow(0 0 100px #43F505);
            }
        }
        &-pc {
            ul {
                margin-left: 30px;
            }
            &:hover .goods__item__img-3 img {
                filter: drop-shadow(0 0 100px #931EE2);
            }
        }
        &__title {
            text-align: center;
            font-size: clamp(20px, 2.2vw, 32px);
            position: relative;
            &__click {
                position: absolute;
                display: block;
                z-index: 1;
                top: 0;
                right: 10px;
                width: 8vw;
                height: 8vw;
                max-width: 35px;
                max-height: 35px;
                &::after {
                    content: '';
                    background: url('/img/click-2.webp') 50%/cover;
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
                &.animate {
                    &::after {
                        animation: clicker 1s infinite alternate;
                    }
                }
            }
        }

        &__img {
            position: absolute;
            overflow: visible;
            &-1 {
                height: 85%;
                width: auto;
                left: -30cqw;
                top: 70px; 
                img {
                    max-height: 100%;
                    width: auto;
                    filter: drop-shadow(0 0 20px #00c2ea);
                    transition: all .5s ease;
                    -webkit-tap-highlight-color: transparent;
                }
            }
            &-2 {
                height: 80%;
                left: 46%;
                transform: translate(-50%);
                bottom: -110px;
                img {
                    max-height: 100%;
                    width: auto;
                    filter: drop-shadow(0 0 20px #43F505);
                    transition: all .5s ease;
                    -webkit-tap-highlight-color: transparent;
                }   
            }
            &-3 {
                height: 85%;
                right: -100px;
                top: 70px; 
                img {
                    max-height: 100%;
                    width: auto;
                    filter: drop-shadow(0 0 20px #931EE2);
                    transition: all .5s ease;
                    -webkit-tap-highlight-color: transparent;
                } 
            }
        }
    }
}

@media (max-width:1023px) {
    .goods {
        &__items {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10vw;
            overflow: visible;
        }
        &__item {
            width: 70cqw;
            margin: 0 auto;
            position: relative;
            ul {
                position: absolute;
                margin: 0;
                padding: 0;
                top: 40%;
                left: 53%;
                li {
                    font-size: clamp(14px, 1.8vw, 26px);
                    color: #B3B1B1;
                }
            }
            &-ps {
                &:hover .goods__item__img-1 img {
                    filter: drop-shadow(0 0 20px #00c2ea);
                }
            }
            &-food {
                z-index: 1;
                order: 3;
                ul {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    width: 60%;
                    gap: 25px;
                    row-gap: 5px;
                    position: absolute;
                    margin: 0;
                    padding: 0;
                    top: 33%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &:hover .goods__item__img-2 img {
                    filter: drop-shadow(0 0 20px #43F505);
                }
            }
            &-pc {
                &:hover .goods__item__img-3 img {
                    filter: drop-shadow(0 0 20px #931EE2);
                }
            }
            &__title {
                text-align: center;
                font-size: clamp(20px, 2.2vw, 32px);
            }
            &__img {
                position: absolute;
                top: 50%; 
                transform: translateY(-50%);
                overflow: visible;
                &-1 {
                    height: 65cqw;
                    left: 5cqw;
                    img {
                    max-height: 100%;
                    // filter: drop-shadow(0 0 20px #00c2ea);
                    transition: all .5s ease;
                    }
                }
                &-2 {
                    height: 50cqw;
                    left: 45%;
                    top: 40%;
                    bottom: 0;
                    transform: translateX(-50%);    
                    img {
                    max-height: 100%;
                    // filter: drop-shadow(0 0 20px #43F505);
                    transition: all .5s ease;
                    }   
                }
                &-3 {
                    height: 60cqw;
                    left: -2cqw;
                    img {
                    max-height: 100%;
                    // filter: drop-shadow(0 0 20px #931EE2);
                    transition: all .5s ease;
                    } 
                }
            }
        }
    }
}

@media (max-width:600px) {
    .goods {
        padding-bottom: 50px;
    }
}