.main {
    height: 100vh;
    height: 100svh;
    min-height: 540px;
    max-height: 1100px;
    mask-image: linear-gradient(#000 90%, transparent 100%);
    position: relative;
    overflow: hidden;
    &__text {
        font-family: $game-font;
        font-weight: 400;
        font-style: normal;
        display: block;
        position: absolute;
        font-size: clamp(32px, 8vw, 98px);
        opacity: .4; 
        &_big {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: clamp(44px, 8vw, 122px);
            width: 100%;
            min-width: 510px;
            text-align: center;
            top: 25vh;
            letter-spacing: 20px;
            span {
                font-family: $game-font;
                font-size: clamp(90px, 20vw, 290px);
            }
        }
        &-left {
           top: 58%;
           left: -60px;
        }
        &-right {
            top: 9%;
            right: -140px;
        }
    }
    &__images {
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 6vh;
        width: clamp(630px, 65vw, 760px);
        height: 95%;
        margin: 0 auto;
        container-type: inline-size;
    }
    &__img {
        max-height: 100%;
        position: absolute;
        img {
            width: auto;
            height: 100%;
        }
        &_left {
            left: 0;
            z-index: 2;
        }
        &_right {
            right: 0;
            z-index: 1;
        }
    }
    &__bg {
        width: 100%;
        height: 87%;
        background: $main-bg;
        z-index: -1;
        position: absolute;
    }
    .window {
        display: flex;
        container-type: inline-size;
        width: clamp(230px, 16.7vw, 400px);
        font-size: clamp(14px, 2.3cqw, 26px);
        background: #fff;
        color: rgba(0, 0, 0, .85);
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        position: absolute;
        padding: 15px 20px;
        padding-right: 10px;
        line-height: 1.3em;
        @include mainDialogWindow;
        &_left {
            top: 23%;
            left: -3%;
        }
        &_right {
            bottom: 23%;
            right: -16%;
        }
    }
    .glow {
        display: block;
        position: absolute;
        width: 100%;
        height: 95%;
        z-index: 3;
        &__img {
            width: auto;
            height: 100%;
            z-index: 4;
            position: absolute;
            top: -10px;
            opacity: .8;
            img {
                width: auto;
                height: auto;
            }
            &_left {
                left: -80px;
            }
            &_right {
                right: -80px;
            }
        }
    }
    &__arrow  {
        position: absolute;
        bottom: 4%;
        left: 50%;
        width: 3.5vw;
        min-width: 40px;
        transform: translate(-50%);
        animation: mainArrow 1s ease infinite alternate-reverse;
        text-align: center;
        img {
            width: 100%;
        }
    }
}



@media (max-width:1024px) {
    .main {
        .window {
            &_left {
                top: 25%;
                left: -3%;
            }
            &_right {
                bottom: 25%;
                right: -25%;
            }
        }
        &__img {
            filter: drop-shadow(30px 20px 15px #0e0e0e);
        }
        .glow {
            display: none;
        }
    }
}
@media (max-width:1023px) {
    .main {
        .window {
            width: clamp(200px, 16.7vw, 400px);
            &_left {
                top: 7%;
                left: -5%;
            }
            &_right {
                bottom: auto;
                top: 25%;
                right: -9%;
            }
        }
    }
}


@media (max-width:767px) {
    .main {
        .window {
            display: none;
        }
    }
}



@media (max-width:431px) {
    .main {
        &__images {
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: auto;
            width: 100%;
            height: 95%;
            bottom: 0;
        }
        &__img {
            margin: 0 auto;
            max-width: 100%;
            bottom: 0;
            filter: drop-shadow(30px 20px 15px #0e0e0e);
            &_left {
                display: none;
            }
        }
        &__text {
            &_big {
                letter-spacing: 15px;
            }
            &-left {
                top: 58%;
                left: -60px;
            }
            &-right {
                top: 40%;
                right: -5%;
            }
        }
        .glow {
            display: none;
        }
    }
}







