.menu {
    display: flex;
    // justify-content: center;
    justify-content: space-around;
    padding: 0 3vw;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    gap: clamp(10px, 6vw, 100px);
    height: 100px;
    width: 100%;
    z-index: 10;
    backdrop-filter: blur(3px);
    mask-image: linear-gradient(#000 90%, transparent 100%);
    &_offer {
        background: rgba($color: #212121, $alpha: .7);

    }
    &__logo {
        // height: 50%;
        display: flex;
        font-size: clamp(16px, 1.6vw, 22px);

        a {
            display: flex;
            text-wrap: nowrap;
            align-items: center;
            gap: 12%;
        }
        &__img {
            display: block;
            position: relative;
            width: 30%;
            // min-width: 40px;
            // @include menuGlowLogo;
            filter: drop-shadow(0 0 6px #0ff) drop-shadow(0 0 12px #0ff);
            animation: neon-glow 2s infinite alternate ease-in-out;
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: clamp(10px, 5vw, 150px);
        margin-bottom: 0;
        max-width: 100%;
        position: relative;
        li {
            font-size: clamp(12px, 1.3vw, 18px);
            display: flex;
            align-items: center;
            justify-content: center;
            // width: 160px;
            // height: 41px;
            transform: skew(-45deg);
            position: relative;
	        transition: all 1s ease;
            cursor: pointer;
            padding: .5vw 3vw;
            a {
                width: 100%;
                height: 100%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                &::after, &::before {
                content: '';
                position: absolute;
                background: conic-gradient(from var(--angle), transparent 70%, #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
                inset: -3px;
                margin: auto;
                mask-image: linear-gradient(#000 0%, transparent 9%, transparent 91%, #000),
                linear-gradient(90deg, #000 0%, transparent 3%, transparent 97%, #000);
                animation: spin 3s linear infinite;
                }
                &::before {
                    animation: spiner 3s linear infinite;
                }

                &:hover::after, &:hover::before{
                    background: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
                }
                p {
                    transform: skew(45deg);
                    margin: auto;
                }
            }
        }
        .active {
            mask-image: none;
            position: relative;
            background: rgba(255, 255, 255, 0.3);
            a {
            &::after, &::before {
                    background: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
                }
            }
        }
    }
    &__registr {
        font-size: clamp(12px, 1.3vw, 18px);
        span {
            cursor: pointer;
            transform: skew(-45deg);
            padding-right: 3px;
            padding-left: 3px;
            display: block;
            position: relative;
            &::after, &::before {
                content: '';
                position: absolute;
                z-index: 1;
                background: conic-gradient(from var(--angle), transparent 80%, #ff0000, #ffb700, #ff0000);
                inset: -10px;
                mask-image: linear-gradient(#000 0%, transparent 13%, transparent 87%, #000),
                linear-gradient(90deg, #000 0%, transparent 5%, transparent 95%, #000);
                // border-radius: 10px;
                transition: all 1s linear;
            }
            &::before {
                background: conic-gradient(from 180deg, transparent 80%,  #ff0000, #ffb700, #ff0000);
            }
            &:hover::after, &:hover::before{
                background: conic-gradient(from var(--angle), transparent 80%,  #ff0000, #ffb700, #ff0000);
                animation: border-to-left 1.4s ease 1 forwards;
            }
            &:hover::before{
                animation: border-to-right 1.4s ease 1 forwards;
            }
            &:hover {
                color: red;
            }
            div {
                transform: skew(45deg);
            }
        }
    }
}


@media (max-width:1023px) {
    .menu {
        justify-content: start;
        padding-left: 20%;
        height: 65px;
        background: rgba($color: #212121, $alpha: .7);
    ul {
        display: none; 
    }
    &__registr {
        display: none;
    }
    &__logo {
        height: 100%;
        &__img {
            width: 35px;
        }
        // &__text {
        //     display: none;
        // }
    }
  }
}

