.title {
    font-size: clamp(22px, 5vw, 42px);
    text-align: center;
    cursor: default;
    text-shadow: 0 10px 20px, 0 0 2px, 0 0 1em #BFE2FF, 0 0 0.5em #BFE2FF, 0 0 0.1em #BFE2FF;
    z-index: 1;
    position: relative;
    &.animate {
        animation: neon-1 .5s ease-in-out infinite alternate;
    }
}
h1 {
    display: block;
    // animation: neon-1 .5s ease-in-out infinite alternate;
    text-shadow: 0 10px 30px, 0 0 2px, 0 0 1em #BFE2FF, 0 0 0.5em #BFE2FF, 0 0 0.1em #BFE2FF;
    font-weight: bold;
    font-size: clamp(24px, 4vw, 46px);
    &.animate {
        animation: neon-1 .5s ease-in-out infinite alternate;
    }
    span {
        font-weight: bold;  
    }
    &.animate span{
        animation: neon-4 linear infinite 2s;
    }
    .signal {
        font-weight: bold;  
        font-size: clamp(30px, 4.5vw, 64px);
    }
}