.window {
    &__back {
        display: flex;
        justify-content: space-around;
        align-items: center;
        justify-self: center;
        padding: 10px 35px;
        height: clamp(35px, 8vh, 60px);
        width: 30%;
        min-width: 200px;
        color: #fff;
        background: rgb(25, 142, 114);
        border: none;
        border-radius: 30px;
        transition: all .3s ease;
        font-size: clamp(12px, 2.3vw, 20px);
        text-wrap: nowrap;
        container-type: inline-size;
        &:hover {
            background: #0BE1AE;
            color: #000;
            filter: drop-shadow(0 0 15px #0BE1AE);
        }
        &__arrow {
            width: 20cqw;
            max-height: 100%;
            align-self: center;
            display: flex;
            align-items: center;
            img {
                width: 100%;
                max-height: 100%;
            }
        }
    }
    &__registr {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 30px;
        padding-top: 10px;
        position: fixed;
        inset: 0;
        // background: rgba(45, 45, 45, .8);
        backdrop-filter: blur(7px);
        z-index: 14;
        // border-radius: 10px;
        text-align: center;
        text-wrap: balance;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s ease;
        &__wrapper {
            width: 100%;
            height: 100%;
            position: absolute;
            background: url('../img/bg-arc.jpg') 50%/cover;
            z-index: -1;
            inset: 0;
            filter: blur(0) brightness(40%);
            // filter: blur(3px) brightness(40%);
        }
        &.active {
            opacity: 1;
            pointer-events: auto;
        }
        &__title {
            display: block;
            font-size: clamp(16px, 2.7vw, 32px);
            font-weight: bold;
        }
        &__way {
            display: flex;
            justify-content: space-between;
            align-items: end;
            width: 70vw;
            max-width: 1100px;
            height: 55%;
            container-type: inline-size;
            &__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                h4 {
                    font-size: clamp(12px, 2.3vw, 20px);
                    font-weight: bold;  
                    min-width: 220px;
                    margin: 0;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
                &__vk {
                    &__img {
                        width: clamp(27px, 10vw, 90px);
                        filter: drop-shadow(0 0 5px rgb(98, 0, 255))
                        drop-shadow(0 0 15px rgb(0, 200, 255));
                        &:hover {
                        filter: drop-shadow(0 0 5px rgb(98, 0, 255))
                        drop-shadow(0 0 15px rgb(0, 200, 255))
                        drop-shadow(0 0 20px rgb(0, 200, 255)); 
                        }
                    }
                }
                &__langame {
                    align-self: start;
                    width: 30cqw;
                    &__img {
                        width: clamp(35px, 10vw, 98px);
                        filter: drop-shadow(0 0 10px rgb(170, 0, 255))
                        drop-shadow(0 0 30px rgb(255, 0, 55));
                        &:hover {
                        filter: drop-shadow(0 0 10px rgb(170, 0, 255))
                        drop-shadow(0 0 30px rgb(255, 0, 55))
                        drop-shadow(0 0 30px rgb(255, 0, 55));
                        }
                    }
                    h4 {
                        position: relative;
                        .langame {
                            font-weight: bold;  
                            position: relative;
                            &::after {
                            content: '*';
                            color: red;
                            top: -50%;
                            right: -20%;
                            position: absolute;
                            font-size: clamp(22px, 2vw, 32px);
                            font-weight: bold;  
                            }
                        }
                    }
                    h5 {
                        font-size: clamp(10px, 1.7vw, 18px);
                        position: relative;
                        margin: 0;
                        &::before {
                            content: '*';
                            color: red;
                            left: -1rem;
                            top: -10px;
                            position: absolute;
                            font-size: clamp(22px, 2vw, 32px);
                            font-weight: bold;
                        }
                    }
                }
                &__tel {
                    &__img {
                        width: clamp(18px, 8vw, 70px);
                        filter: drop-shadow(0 0 5px rgb(98, 0, 255))
                        drop-shadow(0 0 15px rgb(0, 200, 255));
                        &:hover {
                        filter: drop-shadow(0 0 5px rgb(98, 0, 255))
                        drop-shadow(0 0 15px rgb(0, 200, 255))
                        drop-shadow(0 0 20px rgb(0, 200, 255)); 
                        }
                        position: relative;
                        padding-bottom: 17px;
                        &::after {
                            content: '+79120683417';
                            position: absolute;
                            bottom: 50%;
                            left: 150%;
                            font-size: clamp(10px, 1.7vw, 18px);
                        }
                    }
                }
            }       
        }
    }
}


@media (max-width:1023px) {
    .window {
        &__registr {
            justify-content: space-between;
            gap: 5vh;
            padding: 6vh 0;
            &__way {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                width: 70vw;
                max-width: 1100px;
                row-gap: 10%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                &__item {
                    &__vk {
                        &__img {
                            animation: windowGlowBlue ease 2s infinite alternate;
                            &:hover {
                                filter: drop-shadow(0 0 5px rgb(98, 0, 255))
                                drop-shadow(0 0 15px rgb(0, 200, 255)); 
                            }
                        }
                    }
                    &__langame {
                        align-self: center;
                        &__img {
                            animation: windowGlowRed ease 2s infinite alternate;
                            &:hover {
                                filter: drop-shadow(0 0 10px rgb(170, 0, 255))
                                drop-shadow(0 0 30px rgb(255, 0, 55));
                            }
                        }
                    }
                    &__tel {
                        &__img {
                            animation: windowGlowBlue ease 2s infinite alternate;
                            &:hover {
                                filter: drop-shadow(0 0 5px rgb(98, 0, 255))
                                drop-shadow(0 0 15px rgb(0, 200, 255)); 
                            }
                        }
                    }
                }
            }
        }
        &__back {
            &__arrow {
                display: none;
            }
        }
    }
}

