.window {
    &__registr-vr {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 8vh 30px;
        position: fixed;
        inset: 0;
        // background: rgba(45, 45, 45, .8);
        backdrop-filter: blur(30px);
        z-index: 14;
        // border-radius: 10px;
        text-align: center;
        text-wrap: balance;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s ease;
        color: #fff;
        &__wrapper {
            width: 100%;
            height: 100%;
            position: absolute;
            background: url('/img/vr-bg.webp') 50%/cover;
            z-index: -1;
            inset: 0;
            filter: blur(8px) brightness(40%);
        }
        &.active {
            opacity: 1;
            pointer-events: auto;
        }
        &__title {
            display: block;
            font-size: clamp(16px, 5vw, 38px);
            font-weight: bold;
            color: rgb(0, 213, 255);
        }
        &__way {
            display: flex;
            justify-content: space-between;
            align-items: center;
            // width: 55%;
            // height: 55%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            gap: 15vw;
            &__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                h4 {
                    font-size: clamp(14px, 4vw, 26px);
                    font-weight: bold;  
                    min-width: 220px;
                    color: #e1e1e1;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
                &__vk {
                    &__img {
                        width: clamp(70px, 13vw, 130px);
                        filter: drop-shadow(0 0 5px rgb(98, 0, 255))
                        drop-shadow(0 0 15px rgb(0, 200, 255));
                        &:hover {
                            filter: drop-shadow(0 0 5px rgb(98, 0, 255))
                            drop-shadow(0 0 15px rgb(0, 200, 255))
                            drop-shadow(0 0 20px rgb(0, 200, 255)); 
                        }
                    }
                }
                &__tel {
                    position: relative;
                    &__img {
                        position: relative;
                        left: -25%;
                        width: clamp(50px, 10vw, 110px);
                        filter: drop-shadow(0 0 4px rgb(0, 255, 34))
                        drop-shadow(0 0 15px rgb(0, 255, 170));
                        &:hover {
                            filter: drop-shadow(0 0 6px rgb(0, 255, 34))
                            drop-shadow(0 0 15px rgb(0, 255, 170))
                            drop-shadow(0 0 20px rgb(0, 255, 170)); 
                        }
                        position: relative;
                        padding-bottom: 17px;
                        &::after {
                            content: '+79120683417';
                            position: absolute;
                            bottom: 50%;
                            left: 150%;
                            font-size: clamp(14px, 5vw, 26px);

                        }
                    }
                }
            }       
        }
    }
}



@media (max-width:767px) {
    .window {
        &__registr-vr {
            &__way {
                flex-direction: column;
                gap: 10vh;
            }
        }
    }
}